[Unit]
Description=Azure Key Vault GPG Encrypted Backup

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /opt/projects/server/scripts/deploy/kv-backup.py
